@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    /* colors */
    --color-primary: rgb(0, 0, 0);
    --color-accent1: rgb(25, 42, 86);
    --color-accent2: rgb(83, 82, 237);
    --color-accent3: rgb(224, 86, 253);
    --color-accent4: rgb(16, 190, 89);
    --color-accent5: rgb(245, 111, 22);
}

html{
    font-size: 62.5%;
}

